table {
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    border-collapse: collapse;
    > caption {
        text-align: left;
        font-family: $heading-font-family;
        font-size: map-get($heading-font-size, h2);
        font-weight: 700;
        padding: 5px;
        color: $yellow;
        margin-bottom: 20px;
    }
    thead tr th {
        background-color: darken($blue, 20);
        color: $white;
        font-size: 1.5rem;
    }
    > thead,
    > tbody {
        > tr {
            color: $white;
            background-color: $dark-blue;

            &:nth-child(odd) {
                background-color: $blue;
            }
            &:hover {
                background-color: darken($yellow, 5);
            }
            th,
            td, {
                padding: 10px;
                border-bottom: 1px dotted $dark-blue;
            }
        }
    }
}
